<!DOCTYPE html>
<html lang="en" ng-app="baka">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        <script src="{{ asset('assets/vendor/angular/angular.min.js')}}"></script>
        <script src="{{ asset('assets/vendor/angular-resource/angular-resource.min.js')}}"></script>
        <script src="{{ asset('assets/vendor/angular-route/angular-route.min.js')}}"></script>
        <script src="{{ asset('assets/js/app.js')}}"></script>
    {% endblock %}
</html>
